<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



       <bean id="triangle" class="foo.bar.Triangle">
              <property name="type" value="Equilateral"/>

       </bean>

       <!--<bean id="drawingApp" class="foo.bar.DrawingApp">-->
              <!--<property name="Triangle" ref="triangle" />-->
       <!--</bean>-->


</beans>